.experiencia {
  max-width: 1300px;
  padding: 40px 20px;
  margin: 0 auto;
  display: grid;
  grid-template-columns: 1fr 1fr;
  grid-template-rows: 65px 1fr;
  grid-template-areas: 
  'title title'
  'image text'
  'image jobs';

}
.freelancerimg{
grid-area: image;
}
.experiencia .subtitulo {
  color: #e0e0e0;
  grid-area: title;
}

.experiencia-texto {
  grid-area: text;
  font-size: 1.5rem;
  line-height: 1.33;
  max-width: 60ch;
  margin-bottom: 60px;
  color: #525252;
  
}

.experiencia-texto strong {
  color: #141414;
}

.empresa {

   display: grid;
  grid-template-columns: 1fr 1fr;
  gap: 10px 20px;
  padding: 20px;
  background: #f5f5f5;
  border-radius: 4px;
  position: relative;
  grid-area: jobs;
}

.empresa::before {
  content: "";
  display: block;
  width: 4px;
  height: 20px;
  background: linear-gradient(#FDE722, #F0BC04);
  position: absolute;
  top: 20px;
  left: -4px;
  border-radius: 5px;
}

.empresa-ano {
  position: absolute;
  top: 22px;
  left: -100px;
  text-align: right;
  width: 80px;
  color: #525252;
  font-size: 0.875rem;
}

.empresa-titulo {
  font-size: 1.125rem;
  line-height: 1.1;
  font-weight: bold;
}

.empresa-texto {
  font-size: 0.875rem;
  line-height: 1.4;
  color: #525252;
}

.empresa-habilidades {
  display: flex;
  flex-wrap: wrap;
  gap: 10px;
  align-content: start;
}

.empresa-habilidades li {
  font-size: 0.875rem;
  line-height: 1.4;
  border-radius: 4px;
  background: #ffffff;
  padding: 5px 10px;
}

@media (max-width: 800px) {
  .experiencia {
    grid-template-columns: 1fr;
    gap: 40px;
  }
  .experiencia .subtitulo {
    color: #141414;
  }
  .experiencia-texto {
    font-size: 1.25rem;
  }
  .empresa-ano {
    position: initial;
    order: 1;
    width: initial;
    text-align: left;
  }
}

@media (max-width: 400px) {
  .empresa {
    grid-template-columns: 1fr;
  }
}
