.header {
  max-width: 1300px;
  padding: 20px 20px;
  margin: 0 auto;
  display: flex;
  justify-content: space-between;
  align-items: center;
 background-color: black;
}

.header-menu {
  display: flex;
  flex-wrap: wrap;
  gap: 10px;
  justify-content: center;
}

.header-menu a {
  font-size: 1.125rem;
  line-height: 1.3;
  padding: 10px 20px;
  text-decoration: none;
  color: #efefef;
  display: block;
}
.header #logo{
  width: 100px;
  align-self: center;
}
@media (max-width: 800px) {
  .header {
    flex-direction: column;
    gap: 40px;
    padding: 20px;
  }
  .header a {
    background-color: #141414;
    border-radius: 4px;
  
  }
 
}
