/*variables*/
:root{
  --main-bg-color: #1c2427;
  --main-text-color: #CCCCCC;
  --primary: #f0bc04;
  --secondary: #000000;
}
  /*text*/
*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    text-decoration: none;
}

html{
    scroll-behavior: smooth;
}
.max-width{
    max-width: 1300px;
    padding: 0 80px;
    margin: auto;
}


body,
ul {
  margin: 0px;
  padding: 0px;
  font-family: 'Fira Code', monospace sans-serif;
}

a img {
  width:200px;
  padding: 0;
  margin: 0;
}

a {
  color: var(--main-text-color);
  display: inline-block;
  padding: 16px 0px;
  font-size: 20px;
  position: relative;
  text-decoration: none;
}

a:hover {
  background: var(--main-bg-color);
}

#logo img {
  display: block;
}

.header-bg {
  background-color: var(--secondary);
}

#header {
  box-sizing: border-box;
  height: 70px;
  padding: 0.5rem;
  display: flex;
  align-items: center;
  justify-content: space-between;
  flex-wrap: wrap;
}

#menu {
  display: flex;
  list-style: none;
  gap: 0.5rem;
 
}

#menu a {
  display: block;
  padding: 0.5rem;
}

#btn-mobile {
  display: none;
}
/* Home*/

.home{
  display: flex;
    background: url(../images/hero.png) no-repeat right;
    background-size:555px;
    background-color: var(--main-bg-color);
    color: var(--main-text-color);
    font-family: 'Fira Code', monospace sans-serif;
    min-height: 605px;
}

.home .max-width{
  margin:160px 0 auto 40px;
}
.home .home-content .text-1{
  font-size: 48px;
}
.home .home-content .text-2{
  font-size:6rem;
  font-weight: 500;
  margin-left: -3px;
}
.home .home-content .text-3{
  font-size: 40px;
  margin: 5px 0 100px;
}
.home .home-content .text-3 span{
  color:var(--primary) ;
  font-weight: 500;
}
.home .icons{
  display:flex;
 gap: 40px;
 margin:10px;
 font-size: 1rem;
}

.home .icons .fa-github:hover{
  color: var(--primary);
}

.home .icons .fa-linkedin-in:hover{
  color: var(--primary);
}

.home .icons .fa-twitter:hover{
  color: var(--primary);
}

@media (max-width: 600px) {
  #menu {
    display: block;
    position: absolute;
    width: 100%;
    top: 70px;
    right: 0px;
    background: var(--main-bg-color);
    transition: 0.6s;
    z-index: 1000;
    height: 0px;
    visibility: hidden;
    overflow-y: hidden;
  }
  a:hover {
    background: var(--secondary);
  }

  #nav.active #menu {
    height: calc(100vh - 70px);
    visibility: visible;
    overflow-y: auto;
  }
  #menu a {
    padding: 1rem 1rem;
    margin: 0;
    border-bottom: 2px solid rgba(0, 0, 0, 0.05);
    color: var(--primary)
  }
  #btn-mobile {
    display: flex;
    padding: 0.5rem 1rem;
    font-size: 1rem;
    border: none;
    background: none;
    cursor: pointer;
    gap: 0.5rem;
  }
  #hamburger {
    border-top: 2px solid;
    width: 20px;
    color:var(--primary)
  }
  #hamburger::after,
  #hamburger::before {
    content: '';
    display: block;
    width: 20px;
    height: 2px;
    background: var(--primary);
    margin-top: 5px;
    transition: 0.3s;
    position: relative;
  }
  #nav.active #hamburger {
    border-top-color: transparent;
  }
  #nav.active #hamburger::before {
    transform: rotate(135deg);
  }
  #nav.active #hamburger::after {
    transform: rotate(-135deg);
    top: -7px;
  }
}
@media (max-width: 1104px){
  .about .about-content .left img{
      width: 350px;
      height: 350px;
  }
}
@media (max-width: 947px){
  .max-width{
      max-width: 800px;
      padding: 0 50px;
  }
  .home .home-content .text-2{
      font-size: 70px;
  }
  .home .home-content .text-3{
      font-size: 35px;
  }
  .home .home-content a{
      font-size: 23px;
      padding: 10px 30px;
  }
  .about .about-content .column{
      width: 50%;
  }
  .about .about-content .left{
      display: flex;
      justify-content: center;
      margin: 0 auto 60px;
  }
  .about .about-content .right{
      flex: 100%;
  }
  
}
@media (max-width: 500px){
  .home{
    background: url(../images/hero.png) no-repeat right;
    background-size:250px;
    background-color: var(--main-bg-color);
    background-position-y: 335px;
    background-position-x: right;
    min-height: 550px;
  }
  .home .home-content .text-1{
    font-size: 40px;
    
}
  .home .home-content .text-2{
      font-size: 50px;
  }
  .home .home-content .text-3{
      font-size: 25px;
      margin-bottom: 30px;
  }
  .home .home-content .icons{
    font-size: 0.6rem;

  }
  .home .max-width{
    margin:50px 0 auto 40px;
  }
}